.existing-website {
    padding: 50px 0;

    &--cards {
        margin-top: 50px;
    }

    &--card {
        float: left;
        width: 48%;
        margin: 1%;
        padding: 40px 40px 40px 120px;
        background: #FFF;
        -webkit-box-shadow: 0px 14px 23px 0px rgba(50,50,93,0.25);
        -moz-box-shadow: 0px 14px 23px 0px rgba(50,50,93,0.25);
        box-shadow: 0px 14px 23px 0px rgba(50,50,93,0.25);
        text-decoration: none;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        @include prefix(transform, translateY(0px));
        @include prefix(transition, all .3s ease 0s);


        @media (max-width: 950px) {
            margin: 15px;
            width: calc(100% - 30px);
        }

        @media (max-width: 600px) {
            padding: 40px 40px 40px 90px;
        }

        &:hover {
            @include prefix(transform, translateY(-2px));
            -webkit-box-shadow: 0px 20px 60px 0px rgba(29,29,46,0.25);
            -moz-box-shadow: 0px 20px 60px 0px rgba(29,29,46,0.25);
            box-shadow: 0px 20px 60px 0px rgba(29,29,46,0.25);

            h2,
            p {
                color: #32325d;
            }

            .hover-fillLight {
                fill: #8898aa;
            }

            .hover-fillDark {
                fill: #32325d;
            }
        }

        &:nth-child(3) {
            clear: left;
        }

        h2 {
            color: $secondary;
            font-size: $font-size;
            font-weight: 500;
            margin: 0 0 15px 0;
        }

        p {
            color: $font-size;
            margin: 0;
        }

        svg, img {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 110px;
            height: 110px;

            @media (max-width: 600px) {
                width: 80px;
                height: 80px;
            }

            .hover-fillLight,
            .hover-fillDark {
                @include prefix(transition, all .3s ease 0s);
            }
        }
    }

    .button-container {
        margin-top: 50px;
    }
}

